<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.markguerra.android.glwallpapertest"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<service android:label="@string/service_label" android:name=".MyWallpaperService"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/glwallpapertest" />
		</service>
    </application>
    <uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" android:required="true" />
</manifest> 